---
BasedOnStyle: Google
IndentWidth: 2
---
Language: Cpp
AlwaysBreakTemplateDeclarations: true
SpaceAfterTemplateKeyword: false
DerivePointerAlignment: false
PointerAlignment: Right
UseTab: Never
AlignConsecutiveMacros: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlignConsecutiveAssignments: true
---
Language: Proto
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine: None
